{% extends "base.html" %}

{% block content %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ПОТУЖНИЙ №</th>
            <th>sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5 Назва</th>
            <th>ПОТУЖНА Кількість</th>
        </tr>
    </thead>
    <tbody>
        {% for product in items %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ product.Name}}</td>
                <td>{{ product.Price}}</td>
            </tr>
        {% endfor %}
        <div>
	{% if page.has_previous %}
	<a href="?page={{ page.previous_page_number }}">&lt;</a>
    {% endif %}
	Частина №{{ page.number }} з {{ page.paginator.num_pages }}
	{% if page.has_next %}
	<a href="?page={{ page.next_page_number }}">&gt;</a>
	{% endif %}
        </div>  
    </tbody>
</table>
{% endblock content %}